.header {
    background-color: #399AAB;
    margin: 70px;
    padding: 10px;
    text-align: center;
    font-family: verdana;
        }


    h2  {
    color: #399AAB;
    box-shadow: 15px 15px 15px #a9a9a9;
        }
