html, body {
    margin: 0;
    padding: 0;
    background-color: #342953;
    background: linear-gradient(270deg, #252a44 0%, #161836 100%)
}
.content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header {
    background-color: #342953;
    background: linear-gradient(270deg, #131622 0%, #0f133f 100%);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: 5px 5px 5px rgba(7, 10, 10, 0.589);
    color: #7EE0E0;
}

.logo {
    width: 110px;
}

.menu ul {
    padding: 0;
}

.menu li {
    display: inline;
    margin: 0 8px;

}

@media (min-width: 300px) and (max-width: 500px) {
    .header {
        flex-direction: column;
    }

    .content h2 {
        text-align: center;
    }
    .menu li {
        display: inline;
        font-size: 15px;
        margin: 0 25px;
        
    }

    .content h1 {
        display: inline;
    }

    .content {
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 5%;
        font-size: 15px;
        text-align: center;
        text-shadow: black 0.1em 0.1em 0.2em;
        color: rgb(213, 215, 227);
        font-family: 'Ubuntu', sans-serif;
        line-height: 35px;
        justify-content: center;    
    }

    a:hover {
        text-decoration: none;
        color: #7EE0E0;
    }
    .foto{
        width: 220px;
        height: 220px;
    }
    #fotoeu{
        width: 220px;
        height: 220px;

    }
    a:link {
        text-decoration: none;
        position: relative;
        
    }
}
@media (min-width: 501px) and (max-width: 1020px) {
        .header {
            flex-direction: column;
        }

        .menu li {
            display: inline;
            font-size: 20px;
            margin: 0 35px;
        }

        .menu ul {
            margin: 5px;
        }

        a:hover {
            text-decoration: none;
            color: #7EE0E0;
        }

        a:link {
            text-decoration: none;
            position: relative;
        }
        .foto{
            width: 240px;
            height: 240px;
        }
        #fotoeu{
            width: 240px;
            height: 240px;
    
        }
        .content {
            text-shadow: black 0.1em 0.1em 0.2em;
            color: rgb(213, 215, 227);
            font-family: 'Ubuntu', sans-serif;
            line-height: 30px;
            margin-left: 30px;

        }
    }


@media (min-width: 1020px) and (max-width: 1450px) {
    .logo {
        width: 105px;
        margin: 0px;
    }
    .menu li {
        margin: 0 10px;
        margin: 30px;
    }

    .header {
        font-size: 20px;
    }

    .content {
        margin-top: 50px;
        margin-left: 60px;
        margin-right: 5%;
        text-shadow: black 0.1em 0.1em 0.2em;
        color: rgb(213, 215, 227);
        font-family: 'Ubuntu', sans-serif;
        line-height: 35px;
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        padding: 50px;
    }
    .foto{
        width: 285px;
        height: 285px;
    }
    #fotoeu{
        width: 285px;
        height: 285px;
    }
    a:hover {
        text-decoration: none;
        color: #7EE0E0;
    }

    a:link {
        text-decoration: none;
        position: relative;
    }
    }


@media (min-width: 600) and (max-width: 1019px) {
    .content {
        margin-top: 40px;
        margin-left: 30px;
        margin-right: 50%;
        text-shadow: black 0.1em 0.1em 0.2em;
        color: rgb(213, 215, 227);
        font-family: 'Ubuntu', sans-serif;
        line-height: 35px;

    }
    a:hover {
        text-decoration: none;
        color: #7EE0E0;
    }

    a:link {
        text-decoration: none;
        position: relative;
    }
    .foto{
        width: 110px;
        height: 110px;
    }
}

ul a::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #7EE0E0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

ul a:hover::after {
    width: 100%;
}

.content {
    text-shadow: black 0.1em 0.1em 0.2em;
    color: rgb(213, 215, 227);
    font-family: 'Ubuntu', sans-serif;
    line-height: 35px;
}

#nome {
    letter-spacing: 7px;
}

a:hover {
    text-decoration: none;
    color: #7EE0E0;
}

a:link {
    text-decoration: none;
    position: relative;
}
a{
    color: #7EE0E0;
}