html, body{
    margin: 0;
    padding: 0;
    background-color: #342953;
    background: linear-gradient(270deg, #252a44 0%, #161836 100%)
}

.retangulo{
    display: flex;
    flex-direction: column;
}
.grade{
    display: flex;
    flex-wrap: wrap;
}

.header {
    background-color: #342953;
    background: linear-gradient(270deg, #131622 0%, #0f133f 100%);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: 5px 5px 5px rgba(7, 10, 10, 0.589);
    color: #7EE0E0;
}

.logo{
    width: 110px;
}
.menu ul{
    padding: 0;
}

.menu li{
    display: inline;
    margin: 0 8px;
}

@media (min-width: 1020px) and (max-width: 1450px){
    .logo {
    width: 105px;
    margin: 0px;
    }
    .menu li {
    margin: 0 10px;
    margin: 30px;
    }

    .header {
    font-size: 20px;
    }

    .retangulo{
    text-align: center;
    position: absolute;
    width: 700px;
    height: 90px;
    margin-left: 20% ;
    margin-top: 50px;
    background-color: #0f133f;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    }

    .texto{
    text-align: center;
    margin-top: 2.3%;
    text-shadow: black 0.1em 0.1em 0.2em;
    color: rgb(213, 215, 227);
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    }

    .retangulo h3{
        text-align: center;
        justify-content: center ;
        margin-top: 1.3%;
        text-shadow: black 0.1em 0.1em 0.2em;
        color: rgb(166, 168, 179);
        font-family: 'Ubuntu', sans-serif;
        font-size: 15px;
    }

    .grade{
        position: absolute;
        width: 700px;
        height: 1420px;
        margin-left: 20%;
        margin-top: 170px;
        background-color: #0f133f;
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    }

    .conteudo{
        height: 700px;
        width: 1300px;
        display: flex;
        flex-direction: column;
        padding: 40px;
        text-shadow: black 0.1em 0.1em 0.2em;
        color: rgb(171, 173, 184);
        font-family: 'Ubuntu', sans-serif;
        font-size: 14px;
        line-height: 22px;
    }
    .contato{
        flex-direction: column;
        width: 600px;
        height: 394px;
        background: rgba(84, 65, 136, 0.38);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        justify-content: center;
        padding: 10px;
        line-height: 9px;
        color: rgb(171, 173, 184);
    }

    .conteudo h2{
        color: rgb(213, 215, 227);
    }

    a:hover{
    text-decoration: none;
    color: #7EE0E0;
    }

    a:link{ 
    text-decoration: none;
    position: relative;
    }
}
@media (min-width: 600) and (max-width: 1019px){
    .retangulo{
    width: 500px;
    height: 90px;
    margin-left: 10% ;
    margin-top: 80px;
    background-color: #0f133f;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .texto{
    text-align: center;
    margin-top: 2.3%;
    text-shadow: black 0.1em 0.1em 0.2em;
    color: rgb(213, 215, 227);
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    }

    a:hover{
    text-decoration: none;
    color: #7EE0E0;
    }

    a:link{ 
    text-decoration: none;
    position: relative;
    }


    .retangulo{
        text-align: center;
        width: 500px;
        height: 90px;
        margin-left: 20% ;
        margin-top: 50px;
        background-color: #0f133f;
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
        }
    
        .texto{
        text-align: center;
        margin-top: 2.3%;
        text-shadow: black 0.1em 0.1em 0.2em;
        color: rgb(213, 215, 227);
        font-family: 'Ubuntu', sans-serif;
        font-size: 30px;
        }
    
        .retangulo h3{
        text-align: center;
        justify-content: center ;
        margin-top: 1.3%;
        text-shadow: black 0.1em 0.1em 0.2em;
        color: rgb(166, 168, 179);
        font-family: 'Ubuntu', sans-serif;
        font-size: 15px;
        }
    
        .grade{
        width: 500px;
        height: 1520px;
        margin-left: 20%;
        margin-top: 15px;
        background-color: #0f133f;
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
        }
    
        .conteudo{
        height: 300px;
        width: 1400px;
        display: flex;
        flex-direction: column;
        padding: 40px;
        text-shadow: black 0.1em 0.1em 0.2em;
        color: rgb(171, 173, 184);
        font-family: 'Ubuntu', sans-serif;
        font-size: 14px;
        line-height: 22px;
        }
        .contato{
        flex-direction: column;
        width: 400px;
        height: 400px;
        background: rgba(84, 65, 136, 0.38);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        justify-content: center;
        padding: 10px;
        line-height: 15px;
        color: rgb(171, 173, 184);
    }
    
    .conteudo h2{
            color: rgb(213, 215, 227);
    }
    
}
    ul a::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #7EE0E0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
    }

    ul a:hover::after {
    width: 100%;
    }

@media (min-width: 300px) and (max-width: 500px) {
    .header {
        flex-direction: column;
    }
    .menu li {
        display: inline;
        font-size: 15px;
        margin: 0 25px;
        
    }

    a:hover {
        text-decoration: none;
        color: #7EE0E0;
    }

    a:link {
        text-decoration: none;
        position: relative;
        
    }

    .retangulo{
        text-align: center;
        width: 240px;
        height: 90px;
        margin-left: 15% ;
        margin-top: 30px;
        background-color: #0f133f;
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
        }
    
        .texto{
        text-align: center;
        margin-top: 2.3%;
        text-shadow: black 0.1em 0.1em 0.2em;
        color: rgb(213, 215, 227);
        font-family: 'Ubuntu', sans-serif;
        font-size: 27px;
        }
    
        .retangulo h3{
        text-align: center;
        justify-content: center ;
        margin-top: 1.3%;
        text-shadow: black 0.1em 0.1em 0.2em;
        color: rgb(166, 168, 179);
        font-family: 'Ubuntu', sans-serif;
        font-size: 15px;
        }
    
        .grade{
        width: 240px;
        height: 1680px;
        margin-left: 15%;
        margin-top: 15px;
        background-color: #0f133f;
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
        }
    
        .conteudo{
        height: 210px;
        width: 1400px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        text-shadow: black 0.1em 0.1em 0.2em;
        color: rgb(171, 173, 184);
        font-family: 'Ubuntu', sans-serif;
        font-size: 13px;
        line-height: 20px;
        }
        .contato{
        flex-direction: column;
        width: 200px;
        height: 400px;
        background: rgba(84, 65, 136, 0.38);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        justify-content: center;
        padding: 10px;
        line-height: 15px;
        color: rgb(171, 173, 184);
    }
    
    .conteudo h2{
            color: rgb(213, 215, 227);
    }

}
@media (min-width: 501px) and (max-width: 1020px) {
    .header {
        flex-direction: column;
    }

    .menu li {
        display: inline;
        font-size: 20px;
        margin: 0 35px;
    }

    .menu ul {
        margin: 5px;
    }

    a:hover {
        text-decoration: none;
        color: #7EE0E0;
    }

    a:link {
        text-decoration: none;
        position: relative;
    }

    .retangulo{
        text-align: center;
        width: 500px;
        height: 90px;
        margin-left: 20% ;
        margin-top: 50px;
        background-color: #0f133f;
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
        }
    
        .texto{
        text-align: center;
        margin-top: 2.3%;
        text-shadow: black 0.1em 0.1em 0.2em;
        color: rgb(213, 215, 227);
        font-family: 'Ubuntu', sans-serif;
        font-size: 30px;
        }
    
        .retangulo h3{
        text-align: center;
        justify-content: center ;
        margin-top: 1.3%;
        text-shadow: black 0.1em 0.1em 0.2em;
        color: rgb(166, 168, 179);
        font-family: 'Ubuntu', sans-serif;
        font-size: 15px;
        }
    
        .grade{
        width: 500px;
        height: 1520px;
        margin-left: 20%;
        margin-top: 15px;
        background-color: #0f133f;
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
        }
    
        .conteudo{
        height: 300px;
        width: 1400px;
        display: flex;
        flex-direction: column;
        padding: 40px;
        text-shadow: black 0.1em 0.1em 0.2em;
        color: rgb(171, 173, 184);
        font-family: 'Ubuntu', sans-serif;
        font-size: 14px;
        line-height: 22px;
        }
        .contato{
        flex-direction: column;
        width: 400px;
        height: 400px;
        background: rgba(84, 65, 136, 0.38);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        justify-content: center;
        padding: 10px;
        line-height: 15px;
        color: rgb(171, 173, 184);
    }
    
    .conteudo h2{
            color: rgb(213, 215, 227);
    }
}

a:hover {
    text-decoration: none;
    color: #7EE0E0;
}

a:link {
    text-decoration: none;
    position: relative;
}
a{
    color: #7EE0E0;
}

::-webkit-scrollbar{
    width: 6px;
    background-color: #2b2146;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(19, 22, 34);
}